@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

#heading1 {
  margin-top: 4%;
  margin-left: 38%;
  color: white;
  font-family: 'Racing Sans One';
}

#heading2 {
  margin-top: 1%;
  margin-left: 43%;
  color: #141414;
  font-family: 'Racing Sans One';
}

#tabs {
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

#coinTable {
  margin-left: 10%;
  width: 80%;
}

#img1, #navText {
  display: inline;
}

#img1 {
  width: 20%;
}

#navRow {
  background-color: #213d4a;
}

#hr1 {
  margin-top: 0%;
}

#navText {
  font-family: 'Black Ops One';
  color: black;
  padding-top: 15%;
  margin-left: 10%;
}

img {
  width: 30px;
}

#marketsText, #activeCryptosText ,#totalMarketCapText, #totalVolumeText, #btcDominanceText  {
  display: inline;
  margin-left: 4%;
  font-size: 14px;
}

#marketsNumb, #activeCryptosNumb, #totalMarketCapNumb, #totalVolumeNumb, #btcDominanceNumb{
  color: gold;
  font-family: 'Gugi';
}

#marketsText, #marketsNumb {
  display: inline;
}

#activeCryptosText, #activeCryptosNumb {
  display: inline;
}

#totalMarketCapText, #totalMarketCapNumb {
  display: inline;
}

#totalVolumeText, #totalVolumeNumb {
  display: inline;
}

#btcDominanceText, #btcDominanceNumb {
  display: inline;
}

#statistics {
  margin-left: 15%;
}

body {
  background-color: #35424a;
}

tr {
  background-color: #41555e;
  font-family: 'Gugi';
  color: white;
}

p {
  color: white;
  font-family: 'Gugi';
}

hr {
  background-color: black;
}
